.secciones {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 100px; 
  padding: 20px;
}

/* Sección izquierda */
.descripcion {
  flex: 1;
  background: #ffefe0;
  padding: 20px;
  border-radius: 8px;
}
.descripcion img {
  width: 100%;          
  max-width: 600px;     
  height: auto;         
  display: block;
  margin: 0 auto 15px;  
}


/* Sección derecha */
.form-adopcion {
  flex: 1;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-adopcion label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #444;
}

.form-adopcion input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-adopcion .error {
  font-size: 0.9em;
  color: #d9534f;
  margin-top: -10px;
  margin-bottom: 15px; 
}


/* Reutiliza estilos de .form-adopcion input */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;   /* igual que tus inputs */
  cursor: pointer;
  margin-bottom: 20px;  /* mismo espacio que los inputs */
  width: 100%;          /* coherente con el formulario */
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
