body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background:#f4f6f9;
}

header{
    background:linear-gradient(135deg,#ff7a18,#ffb347);
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
    margin:0;
    font-size:40px;
}

header p{
    font-size:18px;
    margin-top:10px;
}


.info{
    display:flex;
    justify-content:center;
    gap:25px;
    padding:40px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 6px 15px rgba(0,0,0,0.1);
    transition:transform 0.2s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    color:#ff7a18;
    margin-bottom:10px;
}

.card ul{
    padding-left:20px;
}

.card li{
    margin-bottom:8px;
}